@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');
@font-face {
    src: url("SegoeWP.ttf");
    }
@font-face {
    src: url("/fonts/Optima LT Regular.ttf");
}
 body{
     font-family: "Segoe WP", sans-serif;
     width: 1920px;
     margin: 0 auto;
}
header{
    position: relative;
    margin:0 auto;
    height: 90px;
    width: 1500px;
    border-bottom: #a5a5a5 solid 2px;
}
.header-wrapper{
    position: relative;
    width: 1080px;
    margin: 0 auto;
}
header div{
    position: absolute;
    top:50%;
    transform: translate(0, -50%);

}
.metro{
    font-family: "Trebuchet MS", serif;
    font-size: 50px;
    color: #595959;
}
.round{
    display: inline-block;
    width:30px;
    height:30px;
    background: #6dd025;
    border-radius: 50%;
    opacity: 0.45;
}
.blog{
    font-family: "Trebuchet MS", serif;
    font-size: 50px;
    font-weight: 600;
}
nav{
    float: right;
    transform: translate(-7%, -50%);
}
nav li{
    display: inline-block;
    margin-right:40px;
    text-decoration: none;
    list-style: none;
}
nav li a{
    display: inline-block;
    color:black;
    font-size: 20px;
    font-weight: 500;
    width: 140%;
    height: 30px;
    text-align: center;
}
nav ul li a:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
main{
    margin: 0 390px;
    width: 1130px;
}
.apple{
    height: 240px;
    width: 320px;
    margin: 164px 0 0 20px;
}
.apple h1 {
    font-weight:200;
    font-size: 59px;
    color: #373737;
    margin: 0;
}
.apple h2 {
    font-size: 44px;
    font-weight:200;
    color:#373737;
    text-align: left;
    margin: 0;
}
.apple a{
    display: inline-block;
    width: 203px;
    height: 39px;
    background:#373737;
    text-align: center;
    margin-top: 30px;
    font-size: 23px;
}
.apple a img{
    padding-right: 7px;
    padding-top: 11px;
}
.banner{
    position: relative;
    height: 400px;
}
.ipad{
    position: absolute;
    top: -30px;
    right: -60px;
}
.lorem_ipsum{
    padding:0 0 40px;
    height: 250px;
    width: 670px;
}
.shapes{
    float:left;
    width: 307px;
    height: 240px;
    background: radial-gradient(#e4e4e4, #a5a5a5);
}
.shapes img {
    position: relative;
    top:71px;
    left:42px;
}
#iphone{
    margin-top:-5px;
    margin-right: 15px;
}
.cssauthor{
    margin-left: 307px;
    height: 240px;
    width: 345px;
    position: relative;
    padding-left: 20px;
    margin-top: -10px;
}
.lorem_ipsum p{
    column-count: 1;
    width:320px;
    height:170px;
    text-align: left;
    word-wrap: break-word;
    font-size: 13px;
    margin-top: 6px;
}
.lorem_ipsum p span{
    color:transparent;
}
.lorem_ipsum h3{
    font-size: 27px;
    color:black;
    text-decoration: none;
    font-weight: 400;
    margin: 0;
}
.lorem_ipsum a{
    font-size: 27px;
    color:black;
    text-decoration: none;
}
.arrow-buttons-block{
    float:right;
    position: absolute;
    bottom: 0;
    right:0;
}
#arrow_left{
    height:39px;
    width:31px;
    background-color: #7c7d7c;
    border:none;
    cursor: pointer;
}
#arrow_left::after{
    content: "\003C";
    color:white;
    font-size: 25px;
}
#arrow_right{
    height:39px;
    width:31px;
    background-color: #989998;
    border:none;
    cursor:pointer;
}
#arrow_right::after{
    content: "\003E";
    color: white;
    font-size: 25px;
}
#arrow_left:hover{
    background-color: #b8dc58;
}
#arrow_right:hover{
    background-color: #b8dc58;
}
#arrow_right:active {
    background-color: #bb4465;
}
#arrow_left:active{
    background-color: #bb4465;
}
.wrapper2{
    float: left;
}
.articles{
    width: 720px;
}
.post{
    width:220px;
    float:left;
    padding-right:10px;
    padding-bottom: 20px;
}
.post p{
    width:210px;
    font-size:13px;
    color:black;
    font-weight:300;
    text-align:justify;
    margin-top:9px;
    margin-bottom:24px;
    line-height: 20px;
}
.post h3{
    margin-top: -10px;
    font-size: 24px;
    font-weight:400;
}
.post h4{
    text-align: left;
    margin-top: -15px;
    font-size: 13px;
}
.post h4 span{
    margin-left: 11px;
}
aside{
    width: 322px;
    height: 900px;
    margin-left: 700px;
    margin-top: -10px;
}
.ipad_guide{
    position: relative;
    width:320px;
    height:250px;
    border: black solid 1px;
}
.ipad_guide h2{
    color:#b8dc58;
    font-size:40px;
    font-weight:800;
    margin-top:-26px;
    text-align: center;
}
.ipad_guide h4{
    margin-top:14px;
    color:#9ba08d;
    text-align: center;
}
#css{
    position: absolute;
    right:46px;
    bottom:11px;
}
#ipad_mini{
    position: absolute;
    left:117px;
    bottom:-19px;
}
#ipad_pro{
    position: absolute;
    left:37px;
    bottom:-30px;
}
.week{
    position: relative;
    margin-top: 50px;
    height:270px;
    width:318px;
    background-color: #86e7f0;
}
.weekly{
    position: absolute;
    left:95px;
    top:-7%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #ef809f;
    text-align: center;
    color: white;
    border: solid 5px white;
}
.weekly div{
    font-size: 80px;
    font-family:Raleway, sans-serif;
}
.weekly h4{
    margin: -15px auto;
    font-size: 21px;
    font-weight: 400;
}
.week h3{
    padding-top: 25px;
    margin: auto;
    width: 280px;
    text-align: center;
    font-size:40px;
    word-spacing:5px;
    color:white;
    font-weight:100;
}
.week p{
    margin: auto;
    width: 280px;
    color:white;
    text-align: center;
    font-size: 23px;
}
.week button{
    position: absolute;
    left:50%;
    margin-right: -50%;
    transform: translate(-50%, 20%);
    padding-top: 2px;
    height: 30px;
    width: 180px;
    color: white;
    background-color: #58d1dc;
    border: none;
    border-radius: 7px;
    font-size: 19px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
.week button a{
    color:white;
    text-decoration: none;
}
.week button:hover{
    cursor: pointer;
    border: #595959 solid 2px;
}
.week button:active{
    background-color: #bb4465;
}
.join{
    position: relative;
    height:270px;
    width:318px;
    border-bottom: #bb4465 solid 10px;
    background-color: #393a39;
    color:white;
    margin-top: 40px;
}
.join div{
    padding: 15px 20px 0 0;
    text-align: center;
    font-size: 26px;
}
.join p{
    margin:10px 0 0 27px;
    text-align: left;
}
.name{
    margin: 20px 0 0 10px;
    padding-left: 7px;
    width:78%;
    height: 20px;
    border: none;
}
.email{
    width:78.5%;
    height: 20px;
    margin: 10px 0 0 10px;
    border: none;
    padding: 2px 0 0 7px;
}
.join button{
    position: absolute;
    bottom: 20px;
    left:21%;
    width:190px;
    height: 30px;
    background-color: #bb4465;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}
.join button:hover{
    border: 2px bisque solid;
}
.join button:active{
    background-color: rosybrown;
    color: black;
}
footer{
    position: relative;
    clear: both;
    height:87px;
    width:1500px;
    background: #393a39;
    color:white;
    margin: 0 auto;
}
.link{
    padding-top: 30px;
    padding-right: 160px;
    font-size:16px;
    text-align: center;
}
.link label,a{
    color:white;
    font-size: 16px;
    text-decoration: none;
}

.icons{
    position: absolute;
    top:50%;
    transform: translate(720%,-80%);

}
.icons li{
    display: inline;
    word-spacing: 10px;
}
.container a:hover{
    text-decoration: underline;
}
a:active{
    color:blue;
}




