@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap');

@font-face {
    font-family: "Segoe WP", sans-serif;
    src: url("SegoeWP.ttf");
    }

@font-face {
    font-family: "OptimaLT", sans-serif;
    src: url("/fonts/Optima LT Regular.ttf");
}
 body {
     position: relative;
     font-family: "Segoe WP", sans-serif;
     padding-left: 23%;
 }
.top_menu{
    position: absolute;
    top:0;
    left:16%;
    height: 100px;
    width: 1300px;
    margin-left:45px;
}
.metro-blog{
    height:50px;
    width:230px;
    position: absolute;
    top: 27px;
    left: 115px;
}
.metro{
    float: left;
    font-family: "Trebuchet MS", serif;
    font-size: 37pt;
    color: #595959;
}
.round{
    display: block;
    margin-top: 18px;
    float: left;
    width:30px;
    height:30px;
    background: #6dd025;
    border-radius: 50%;
    opacity: 0.45;
}
.blog {
    float: right;
    font-family: "Trebuchet MS", serif;
    font-size: 37pt;
    font-weight: 600;
}
nav{
    position: absolute;
    right:40px;
    top:42px;
    width:600px;
    height:70px;
    word-spacing:32px;
}
.buttons{
    width:100px;
    height:38px;
    font-size:16pt;
    background-color: white;
    border: none;
}
.buttons:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
#about{
    margin-left: -5px;
}
#articles{
    margin-left: -7px;
}
#pages{
    margin-left: -12px;
}
.rule{
    position: absolute;
    top: 110px;
    left:6%;
    width:85%;
    border-bottom: #e5e5e5 1px solid;
}
.apple {
    height:400px;
    float: left;
    margin-top: 300px;
}
.Reviews {
    padding-left: 20px;
    margin-top: -83px;
    width: 400px;
}
.apple h3 {
    height:25px;
    font-weight:200;
    font-size: 44pt;
    color: #373737;
}
.apple h4 {
    font-size: 33pt;
    font-weight:200;
    color:#373737;
    margin-top: -12px;
    text-align: left;
}
.video {
    position: relative;
    width:203px;
    height:39px;
    background:#373737;
    font-size: 18pt;
    color: white;
    text-align: center;
    margin-top: -39px;
    margin-left: 20px;
}
.vr{
    position: absolute;
    left:15px;
    bottom: 2px;
}
.vr2 {
    position: absolute;
    left: 55px;
    bottom: 4px;
    font-size: 18pt;
    color:white;
    text-decoration: none;
}
.Ipad {
    float:left;
    margin-left: 358px;
    margin-top: -236px;
}
.wrapper{
    position: relative;
    float: left;
    width:1000px;
    height:250px;
    margin-top: -48px;
}
.shapes {
    width: 307px;
    height: 240px;
    float:left;
    background: radial-gradient(#e4e4e4, #a5a5a5);
}
.shapes img {
    position: relative;
    top:71px;
    left:42px;
}
#Mac{
    margin-left: -27px;
    margin-top: -2px;
}
#iphone{
    margin-top:-5px;
}
.loremipsum {
    column-count: 1;
    width:321px;
    height:240px;
    text-align: left;
    word-wrap: break-word;
    font-size: 10pt;
    padding-left:27px;
}
.loremipsum p span{
    color:transparent;
}
#label1 {
    font-size: 20pt;
}
#Reserved{
    font-size: 20pt;
    text-decoration: none;
    color:black;
}
.loremipsum p{
    margin-top:6px;
}
#arrow_left{
    position:absolute;
    bottom:10px;
    right:350px;
    height:39px;
    width:31px;
    background-color: #7c7d7c;
    border:none;
    cursor: pointer;
}
#arrow_right{
    position:absolute;
    bottom:10px;
    right:320px;
    height:39px;
    width:31px;
    background-color: #989998;
    border:none;
    cursor:pointer;
}
#arrow_left:hover{
    background-color: #b8dc58;
}
#arrow_right:hover{
    background-color: #b8dc58;
}
#arrow_right:active {
    background-color: #bb4465;
}
#arrow_left:active{
    background-color: #bb4465;
}
#arrow_left img{
    position: relative;
    right: 2px;
    bottom: -1px;
}
#arrow_right img{
    position: relative;
    right: -3px;
    bottom: -1px;
}
.ipadGuide {
    position:absolute;
    right:353px;
    top:280px;
    width:320px;
    height:250px;
    border: black solid 1px;
    margin-top: -280px;
    margin-right:-370px;
}
.ipadGuide, h2, h4 {
   text-align: center;
}
.ipadGuide h2{
    color:#b8dc58;
    font-size:30pt;
    font-weight:800;
    margin-top:-26px;
}
#ultimate_apple{
    margin-top:14px;
    color:#9ba08d;
}
#CSS{
    position: absolute;
    right:46px;
    bottom:11px;
}
#IpadMini {
    position: absolute;
    left:117px;
    bottom:-19px;
}
#IpadPro {
    position: absolute;
    left:37px;
    bottom:-30px;
}
#Mac {
    padding-left: 40px;
}
.wrapper2{
    position: relative;
    width:1050px;
    height: 836px;
    margin-top: 20px;
}
.section{
    position:relative;
    width:675px;
    height:800px;
    background-color: white;
    column-count:3;
}
.post-1{
    font-size:10pt;
    color:black;
    font-weight:300;
    text-align:justify;
    margin-top:9px;
    margin-bottom:44px;
    line-height: 20px;
}
.post_header{
    font-size:18pt;
    font-weight:400;
}
.small_header{
    padding-top:4px;
    font-size: 10pt;
    padding-left: 2px;
}
.small_header span{
    padding-left:0;
}

aside {
    width: 322px;
    height: 800px;
    position: absolute;
    top: 110px;
    right: 30px;
}
.week {
    position: relative;
    top:-40px;
    height:270px;
    width:318px;
    background-color: #86e7f0;
}
.weekly {
    position: absolute;
    left:95px;
    top:-7%;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #ef809f;
    text-align: center;
    color: white;
    border: solid 5px white;
}
.twelve {
    font-size: 60pt;
    font-family:Raleway, sans-serif;
}
#weekend{
    position: absolute;
    top:55px;
    left:35px;
    text-align: center;
    font-size: 16pt;
}
.week h3{
    position: absolute;
    top: 70px;
    left:30px;
    font-size:30pt;
    word-spacing:5px;
    color:white;
    font-weight:100;
}
.week p {
    color:white;
    position: absolute;
    bottom:20px;
    left: 0;
    text-align: center;
    font-size: 19pt;
}
.week button {
    position: absolute;
    bottom: 10px;
    left: 23%;
    height: 30px;
    width: 180px;
    color: white;
    background-color: #58d1dc;
    border: none;
    border-radius: 7px;
    font-size: 13pt;
    word-spacing: 1px;
}
.week button:hover {
    cursor: pointer;
    border: #595959 solid 2px;
}
.week button:active{
    background-color: #bb4465;
}
.join {
    position: relative;
    height:270px;
    width:318px;
    border: black solid 1px;
    margin-top:-15px;
    background-color: #393a39;
    color:white;
}
.mailing {
    text-align: center;
    position: relative;
    top:20px;
    font-size: 20pt;
}
.join p {
    text-align: left;
    width: 270px;
    padding-left: 30px;
    padding-top: 10px;
}
.name {
    position: relative;
    left: 30px;
    width:78%;
    height: 20px;
    border: none;
}
.email {
    position: relative;
    left: 30px;
    width:78%;
    height: 20px;
    margin-top: 15px;
    border: none;
    }
.join button {
    position: relative;
    bottom:-17px;
    width:190px;
    height: 30px;
    left: 60px;
    background-color: #bb4465;
    color: white;
    font-size: 13pt;
    border: none;
    cursor: pointer;
    border-radius: 7px;
}
.join button:hover{
      border: 2px bisque solid;
}
.join button:active{
    background-color: rosybrown;
    color: black;
}
.line {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 3%;
    background-color: #bb4465;
}
.container {
    position: relative;
    height:87px;
    width:110%;
    background: #393a39;
    color:white;
}
#rights {
    color:white;
    text-decoration: none;
    font-size:12pt;
}
.link {
    position: absolute;
    top:28%;
    left:33%;
    font-size:12pt;
}
.icons {
    position: absolute;
    top:33%;
    right:4%;
    word-spacing: 10px;
}
.icons a{
    display:inline-block;
}
.container a:hover {
    text-decoration: underline;
}
a:active {
    color:blue;
}




